*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../Asset/sun.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: context-menu;
    background-size: 100% 100vh;
}
#containerClock{
    width: 70vw;
    height: 60vh;
    background-color:rgb(0,0,0,0.438);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#hrContainer{
    width: 100%;
    height: 8vw;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: white;
}
#hours12{
    position: absolute;
}
#hours24{
    position: absolute;
    display: none;
}
#date{
    font-size: 4vw;
    color:black;
}
#day{
    font-size: 3vw;
    color:black;   
     
}
h1{
    letter-spacing: 2vw;
    text-shadow: 2px 2px 2px black;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}
#sec{
    position: absolute;
    font-size: 55vw;
    color: white;
    z-index:-1;
}
#toggle{
    width: 6vw;
    height: 3vw;
    background-color:white;
    position:fixed;
    left: 1vw;
    top: 1vw;
    border-radius: 100px;
    box-shadow: 5px 5px 5px black;  
    transition: all 0.5s;
}
#button{
    width: 50%;
    height: 100%;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: black;
    position: absolute;
    transition: all 0.5s;
    cursor: pointer;
}
#icon{
    font-size: 3vw;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    position: fixed;
    right:1vw;
    top:1vw;
    cursor: pointer;
}
#containerAlarm{
    width:50vw;
    height: 25vw;
    background-color: gray;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    border-radius: 1vw;
    box-shadow: 5px 5px 5px black;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
}
#close{
    font-size: 4vw;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 1vw;
    top: 0vw;
    transform: rotate(45deg);
    cursor: pointer;
    text-shadow: 0.3vw 0.3vw 0.3vw black;
}
.inp{
    width:40%;
    height: 3vw;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 2vw;
    border-bottom: 2px solid black;
    text-shadow: 1px 2px 5px black;
}


